@property --distance {
    syntax: "<length>";
    initial-value: 0px;
    inherits: true;
}

li {
    --position: calc((360 / var(--sibling-count)) * var(--sibling-index));

    --rotation: calc(var(--position) * 1deg);
    --distance: calc(6rem * (1 + var(--sibling-count) / 100));
    --x: calc(var(--distance) * cos(var(--rotation)));
    --y: calc(var(--distance) * sin(var(--rotation)));

    transform: translateX(var(--x)) translateY(var(--y));

    background-color: hsl(var(--position) 100% 40%);
}

/* Aesthetic Styles */

:root {
    --text-color: #eae2b7;
    --spacing: 20px;
}

* {
    padding: 0px;
    margin: 0px;
}

html {
    font-family: monospace;
    font-size: clamp(12px, min(2vw, 2vh), 18px);
}

body {
    background: repeating-linear-gradient(-45deg,
            #111,
            #111 30px,
            #222 30px,
            #222 60px);

    height: 100vh;
}

li {
    position: absolute;
    top: 50%;
    left: 50%;

    display: grid;
    place-items: center;

    border-radius: 50%;

    width: 3rem;
    aspect-ratio: 1;

    list-style: none;

    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-color);
}

.controls {
    position: absolute;
    top: var(--spacing);
    left: var(--spacing);

    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10px;

    padding: var(--spacing);
    border-radius: 20px;

    background-color: #111;
    color: var(--text-color);
    font-size: 1.3rem;

    box-shadow: 4px 4px 4px 4px #000;

    input {
        width: 200px;
    }

    .value {
        display: inline-block;
        width: 2rem;
    }
}